*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Tahoma, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(231, 187, 187);
}

header{
    text-align: center;
}

.row{
    width: 100%;
    background-color: rgb(144, 163, 182);
    padding: 15px;
    margin: 5px 0; 
    border-top: solid black;
}

button{
    background-color: rgb(0, 0, 0);
    color: rgb(231, 187, 187);
    margin: 5px;
    padding: 3px
}

